extends ./layout/index

block content
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Image About Us", class="img-fluid")
            .col.md-7
                h1 #{page}                
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis similique laboriosam labore maxime modi eveniet recusandae magni quaerat sequi, voluptatem nihil molestias natus quas fugiat quisquam quidem tempore, maiores expeditaipsum dolor sit amet consectetur adipisicing elit. Molestias iure velit aut voluptas nesciunt autem, est reiciendis distinctio officiis nulla nihil vel necessitatibus ullam numquam a delectus impedit neque! Molestias.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo qui id, eaque tempora fugiat ipsum laborum assumenda eum nemo error consectetur aliquam nulla cumque delectus maiores ipsam alias cum vero.dolor sit amet consectetur adipisicing elit. Sit placeat culpa voluptas necessitatibus officiis quod quo praesentium rerum fuga iusto enim tenetur excepturi corporis, nemo asperiores provis repellendus ad eveniet, aliquid obcaecati tempora.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae veniam rerum dolorum saepe alias eligendi harum incidunt nobis? Exercitationem ipsum aspernatur molestias hic quam fugiat deserunt quos, id recusandae vel?

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icon security", class="img-fluid mb-4")
                    h2.mb-4 Security
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ea nihil quia consequatur nesciunt nemo autem. Corrupti, atque aperiam laboriosam vel vero omnis eius nemo, vitae obcaecati harum iusto? Ullam.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icon security", class="img-fluid mb-4")
                    h2.mb-4 Destinatios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ea nihil quia consequatur nesciunt nemo autem. Corrupti, atque aperiam laboriosam vel vero omnis eius nemo, vitae obcaecati harum iusto? Ullam.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icon security", class="img-fluid mb-4")
                    h2.mb-4 Prices
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ea nihil quia consequatur nesciunt nemo autem. Corrupti, atque aperiam laboriosam vel vero omnis eius nemo, vitae obcaecati harum iusto? Ullam.
